<% include header %>

<form method="get" action="startscherm">
      <input type="text" value="" name="gebruikersnaam" placeholder="Gebruikersnaam" class="invullen" required>
			<input type="password" value="" name="wachtwoord" placeholder="Wachtwoord" class="invullen" required>
	    <a href="startscherm" class="knop"><input type="submit" value="Aanmelden" id="aanmeldenKnop"></a>
</form>

<% include footer %>
