      </footer>
      <script
            src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDEVc-Z3t4G7J30C6Cp3Y-2V9lIdkxicrM">
      </script>
      <script src="/js/locatieOpvragen.js"></script>
      <script src="/js/script.js"></script>
      </body>
</html>


<!-- API KEY: AIzaSyDEVc-Z3t4G7J30C6Cp3Y-2V9lIdkxicrM -->
