<% include header %>

<form method="post" action="halteZoekenResultaat">
			<input type="text" name="lat" value="" placeholder="lat-locatie" id="lat" class="invullen" required>
			<input type="text" name="lng" value="" placeholder="long-locatie" id="lng" class="invullen" required>
      <input type="submit" id="button" value="Halte zoeken" class="knop">
</form>


<% include footer %>
