<% include header %>

<div>
 			<a href="aanmelden" class="knop">Aanmelden</a>
			<a href="registreren" class="knop">Registreren</a>
			<a href="startscherm" class="knop">Doorgaan zonder account</a>
</div>

<% include footer %>
