<% include header %>

	<div>
 		<a href="routePlannen" class="knop">Route plannen</a>
		<a href="halteZoeken" class="knop">Halte in de buurt zoeken</a>
		<a href="verkooppuntZoeken" class="knop">Verkooppunt zoeken</a>
	</div>

<% include footer %>
